@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Leia nossa politica de Privacidade:<br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint ipsa reiciendis atque natus ea voluptas magni, perferendis fugiat dolorem repellat, dignissimos asperiores! Eius necessitatibus dolores molestias! Suscipit sit assumenda porro Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est cum minima repudiandae?<br> Ipsum minus, quod vel rem tempora quibusdam aliquam culpa! Inventore, enim quos harum commodi reprehenderit molestias corrupti veritatis.</p>
